<%include ../partials/header%>
<header class="jumbotron danger">
    <div class = "container">
        <h1><%=info%></h1>
        <p>
          <a type="button" class="btn btn-warning btn-lg" href="/lab/search">Search for lab records <i class="fa fa-search" aria-hidden="true"></i></a>
          <a type="button" class="btn btn-primary btn-lg" href="/lab/labinput/patient"><i class="fa fa-cog fa-spin  fa-fw"></i> Save Another Lab Information To Our Database</a>
        </p>
    </div>
</header>
<div class = "container">
    <!--loop through labs to make sure patient id and lab id match then show data-->
    <%let patientFound = 1; let labFound = labs.length; %>
    <% labs.forEach(function (lab) { %>
      <!--if lab patient id and lab id match then display-->
      <%delete lab._id;%>
      <%console.log(lab)%>
      <%if (labFound>0) {%>
        <%patientFound = 1;%>
          <%labFound = 1;%>
          <h3 class = "text-primary">Lab information (lab ID: <%= lab.identifier%>) for <%= lab.patient_name%> (patient ID: <%=lab.patientID%>): </h3>
          <!--display patent information-->
          <table class = "table table-hover table-responsive table-bordered">
            <tr>
              <th class = "col primary text-info" colspan="2">Patient Information</th>
            </tr>
            <tr>
              <td class = "col-md-3 danger"><strong><em>Name</em></strong></td>
              <td class = "col-md-9 danger"><%= lab.patient_name%></td>
            </tr>
            <tr>
              <td class = "col-md-3 danger"><strong><em>Patient ID</em></strong></td>
              <td class = "col-md-9 danger"><%= lab.patientID%></td>
            </tr>
            <tr>
              <td class = "col-md-3 danger"><strong><em>Patient informaion retrieved from </em></strong></td>
              <td class = "col-md-9 danger"><%= lab.server%></td>
            </tr>
            <tr>
              <th class = "col primary text-info" colspan="2">Lab Information</th>
            </tr>
            <!--lab information goes here-->
            <tr>
              <%if (lab.identifier) { %>
                <td class = "col-md-3 success"><strong><em>Identifier </em></strong></td>
                <td class = "col-md-9 success"><%= lab.identifier%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.id) { %>
                <td class = "col-md-3 success"><strong><em>ID </em></strong></td>
                <td class = "col-md-9 success"><%= lab.id%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.status) { %>
                <td class = "col-md-3 success"><strong><em>Status </em></strong></td>
                <td class = "col-md-9 success"><%= lab.status%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.code) { %>
                <td class = "col-md-3 success"><strong><em>Code </em></strong></td>
                <td class = "col-md-9 success"><%= lab.code%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.effective_date) { %>
                <td class = "col-md-3 success"><strong><em>Effective Date </em></strong></td>
                <td class = "col-md-9 success"><%= lab.effective_date%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.issued_date) { %>
                <td class = "col-md-3 success"><strong><em>Issued Date </em></strong></td>
                <td class = "col-md-9 success"><%= lab.issued_date%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.value ) { %>
                <td class = "col-md-3 success"><strong><em>Value </em></strong></td>
                <td class = "col-md-9 success"><%= lab.value %></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.interpretation) { %>
                <td class = "col-md-3 success"><strong><em>Interpretation</em></strong></td>
                <td class = "col-md-9 success"><%= lab.interpretation%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.result) { %>
                <td class = "col-md-3 success"><strong><em>Result</em></strong></td>
                <td class = "col-md-9 success"><%= lab.result%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.codeDiagnosis) { %>
                <td class = "col-md-3 success"><strong><em>Diagnosis Code</em></strong></td>
                <td class = "col-md-9 success"><%= lab.codeDiagnosist%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.context) { %>
                <td class = "col-md-3 success"><strong><em>Context</em></strong></td>
                <td class = "col-md-9 success"><%= lab.context%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.category) { %>
                <td class = "col-md-3 success"><strong><em>Category</em></strong></td>
                <td class = "col-md-9 success"><%= lab.category%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.basedOn) { %>
                <td class = "col-md-3 success"><strong><em>Based On</em></strong></td>
                <td class = "col-md-9 success"><%= lab.basedOn%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.specimen) { %>
                <td class = "col-md-3 success"><strong><em>Specimen</em></strong></td>
                <td class = "col-md-9 success"><%= lab.specimen%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.imagingStudy) { %>
                <td class = "col-md-3 success"><strong><em>Imaging Study</em></strong></td>
                <td class = "col-md-9 success"><%= lab.imagingStudy%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.conclusion) { %>
                <td class = "col-md-3 success"><strong><em>Conclusion</em></strong></td>
                <td class = "col-md-9 success"><%= lab.conclusion%></td>
              <%}%>
            </tr>
            <tr>
              <%if (lab.presentedForm) { %>
                <td class = "col-md-3 success"><strong><em>Presented Form</em></strong></td>
                <td class = "col-md-9 success"><%= lab.presentedForm%></td>
              <%}%>
            </tr>
            <tr>
              <th class = "col primary text-info" colspan="2">Performer Information</th>
            </tr>
            <tr>
              <td class = "col-md-3 info"><strong><em>Performer Name</em></strong></td>
              <td class = "col-md-9 info"><%= lab.performer.performer%></td>
            </tr>
            <tr>
              <td class = "col-md-3 info"><strong><em>Performer ID</em></strong></td>
              <td class = "col-md-9 info"><%= lab.performer.identifier%></td>
            </tr>
            <tr>
              <td class = "col-md-3 info"><strong><em>Performer's Role</em></strong></td>
              <td class = "col-md-9 info"><%= lab.performer.role%></td>
            </tr>
            <tr>
              <td class = "col-md-3 info"><strong><em>Insurance</em></strong></td>
              <td class = "col-md-9 info"><%= lab.performer.actor%></td>
            </tr>

          </table>
        <hr>


      <%}else { %>
          <%labFound = 0; patientFound == 0}%>
    <%});%>

    <!--if patient id or lab id is not found, shown the following-->
    <%if (patientFound == 0 && labFound == 0) { %>
        <h3 class = "text-danger"> Search error: </h3>
        <em><h4 > Patient ID (<%=patientId%>) is not in the databse. </h4>
        <h4 > Lab ID (<%=labId%>) is not in the databse. </h4></em>
    <% } else { %>
      <%if (patientFound == 0) { %>
        <h3 class = "text-danger"> Search error: </h3>
        <h4 class = "text-danger"> <em>Find Lab ID (<%=labId%>). Patient ID (<%=patientId%>) does not match with the lab ID, or Patient ID (<%=patientId%>) is not in the databse.</em> </h4>
      <%}%>
      <%if (labFound == 0) { %>
        <h3 > Search error: </h3>
        <h4 > <em>Find patient ID (<%=patientId%>). Lab ID (<%=labId%>) does not match with the patient ID, or Lab ID (<%=labId%>) is not in the databse.</em> </h4>
      <%}%>
    <%}%>






</div>
<%include ../partials/footer%>
